#lightbox_m{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(overlay.png) repeat #0;
	text-align: center;
	z-index: 100;
	/*opacity: 0.9; */
	outline: none !important;
}
#lightbox_m p{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	z-index: 22;
	border: 1px solid #fff;
	border-radius: 100%;
	padding: 2px;
	text-align: center;
	transition: 0.5s;
}
#mp_top{

	width: 100%;
	height: 5%;
	text-align: center;
	z-index: 21;
}
#mp_center{
	width: 100%;
	height: 55%;

	text-align: center;
	z-index: 21;
}
.mp_center_div{
	float:left;
}
#m_center_one{
	width:42.5%;
	height:100%;
}
#m_center_two{

	width:15%;
	height:100%;
	overflow: auto;
}
#m_center_there{
	width:42.5%;
	height:100%;
}
#mp_footer{
	width: 100%;
	height: 40%;
	text-align: center;
	z-index: 21;
}
* html #center_two
{
height: 100%;
width: 100%;
}
#m_top{
	height:9.852459%; /*27px*/
	width:99.5%;/* 100% */
	background-color: red;
	background:url('../img/phone/6plus_top.png') no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    margin:0 auto;
}
#m_foot{
	height:14.393443%;/*50px*/
	width:99.5%;/* 100% */
	background-color: red;
	background:url('../img/phone/6plus_foot.png') no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    margin:0 auto;
}
#m_middle{
	height:75.754098%; /*305px*/
}
#ma_left{
	height:100%; /*305px */
	float:left;
	width:3.277778%; /*99px */
	background:url('../img/phone/6plus_left.png') no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}
#ma_middle{
	height:100%; /*305px*/
	float:left;
	/*width:69.290123%;*/ /*449px*/
	background-color: #666;
	width:93.444444%;
}
#ma_right{
	height:100%;
	float:left;
	width:3.277778%; /*99px */
	background:url('../img/phone/6plus_right.png') no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
} 
.opacity_mobile{
	/*opacity:0.9;*/
}