<html>
<head>
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/fullcalendar.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/matrix-style.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/matrix-media.css" />
	<link href="__PUBLIC__/matrix_admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/jquery.gritter.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--Footer-part-->

	<div class="row-fluid">
	  <div id="footer" class="span12"> 2016 - 2019 &copy; 北京乐兔科技  带你领略科技的震撼 <a href="http://www.letu.com/">Letutecnology.com</a> </div>
	</div>

	<!--end-Footer-part-->
</body>
</html>