<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{$title}</title>
	<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/matrix_admin/img/logo_letu_64.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/fullcalendar.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/matrix-style.css" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/matrix-media.css" />
	<link href="__PUBLIC__/matrix_admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" href="__PUBLIC__/matrix_admin/css/jquery.gritter.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<frameset rows="*,41" cols="*" frameborder="no" border="0" framespacing="0">
  <frameset cols="220,*" frameborder="no" border="0" framespacing="0">
    <frame src="__URL__/left.html" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frameset rows="40,*">
	    <frame src="__URL__/top.html" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
	    <frame src="__URL__/board.html" name="rightFrame" id="rightFrame" title="rightFrame" />
	</frameset>
  </frameset>
  <frame src="__URL__/footer.html" name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame" title="bottomFrame" />
</frameset>
<noframes>
<body>
</body>
</noframes>
</html>